<section class="wrap-edit-profile">
  <section class="wrap-edit-profile-center">

    <h1>Products Stocks</h1>

    <p>Stock disponible: <span id="stock-total"><%= @product.stocks.count %></span></p>

    <div id="tabs-container">

        <ul class="tabs-menu">
            <li class="current"><a href="#tab-1">Agregar Stock del producto</a></li>
        </ul>

        <div class="tab">

            <div id="tab-1" class="tab-content">

            <%= render 'form', product: @product %>


            </div>


        </div>

        <table id="list-stock" class="data-tables">
          <thead>
            <tr>
              <th>Producto</th>
              <th>Precio</th>
              <th>Estado</th>
              <th>Fecha</th>
            </tr>
          </thead>

          <tbody>

            <%= render @product.stocks %>

          </tbody>
        </table>
    </div>

  </section>
</section>
