<section class="wrap-edit-profile">
  <section class="wrap-edit-profile-center">

    <h1>Nueva página</h1>
    <p>Aquí podrás editar tu perfil, cambiar datos y los accesos a tus cuentas de redes sociales</p>

    <div id="tabs-container">

        <ul class="tabs-menu">
            <li class="current"><a href="#tab-1">Info de tu página</a></li>
        </ul>

        <div class="tab">

            <div id="tab-1" class="tab-content">

              <%= render 'form', page: @page %>

            </div>

            <%= link_to 'Back', pages_path %>



        </div>
    </div>

  </section>
</section>
