<section class="wrap-profile">
    <section class="wrap-profile-center wrap-profile-center-show edit-post">

      <div class="header-edit">
        <h1>Editar post</h1>
        <%= link_to 'Volver', posts_path %>
      </div>



    <%= render 'form', post: @post %>




  </section>
  
  <%= render 'partials/footer-inter' %>
</section>
